<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <h1>Posts</h1>
    <span class="pull-right">
      <button type="button" class="btn btn-default"><%= link_to 'New Post', new_post_path %></button>
    </span>
  </div>
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag post.post_pic.url, class: "img-thumbnail" %>
          <h2><%= post.title %></h2>
          <h3>by <%= link_to post.user.username, user_posts_path(name: post.user.username) %> <small><%= post.created_at %></small></h3>
          <p><%= post.blog_entry[0..120] %>...</p>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"><%= link_to 'Show', post %></button>
            <% if current_user.id == post.user_id %>
              <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_post_path(post) %></button>
              <button type="button" class="btn btn-default"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @posts %>
